<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Vacancies:</h1>
    {% if vacancies %}
    <ul>
      {% for vacancy in vacancies %}
      <li>
        <a href="url core_app:specialists">{{ vacancy.description | safe }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No vacancies are available</p>
    {% endif %}
  </body>
</html>
